:root {
  --color-background: #1a0102;
  --color-background-primary: rgba(244, 68, 73, 0.1);
  --color-background-secondary: rgba(0, 255, 255, 0.07);
  --color-background-accent: rgba(255, 234, 127, 0.05);
  --color-primary-placeholder: rgb(131, 11, 11);
  --color-primary: #F44449;
  --color-primary-transparent: rgba(244, 68, 73, 0.8);
  --color-secondary: #00ffff;
  --color-secondary-transparent: rgba(0, 255, 255, 0.5);
  --color-accent: rgba(255, 234, 127, 0.7);
  --color-accent-transparent: rgba(255, 234, 127, 0.2);
}
