input {
  width: 300px;
  height: 50px;
  font-size: 1rem;
  font-family: inherit;
  text-align: center;
  padding: 0;
  border-radius: 5px;
}

input {
  border: 1px solid rgb(244, 68, 73);
  background-color: var(--color-background-primary);
  color: var(--color-primary-placeholder);
  caret-color: var(--color-primary-placeholder);
  box-sizing: border-box;
}

input::placeholder {
  color: var(--color-primary-placeholder);
}

input:focus {
  outline: none;
  border: 2px solid var(--color-primary);
  box-shadow: 0 0 10px 5px var(--color-primary-transparent);
}

input:last-of-type {
  margin-bottom: 20px;
}
