@import 'button.css';
@import 'input.css';
@import 'navbar.css';
@import 'container.css';
@import 'list.css';

:root {
  --color-background: #000000;
  --color-background-input: #170016;
  --color-text: #ffffff;
  --color-text-transparent: rgba(255, 255, 255, 0.5);
  --color-primary: #ff00f2;
  --color-primary-transparent: rgba(255, 0, 242, 0.5);
  --color-secondary: #efef0b;
  --color-secondary-transparent: rgba(239, 239, 11, 0.75);
  --color-accent: #ffffff;
}

html, body {
    font-family: "Courier New", Courier, monospace;
    box-sizing: border-box;
    font-size: 20px;
    padding: 0;
    margin: 0;
    background-color: #000000;
    color: var(--color-text);
    text-transform: uppercase;
}

h1 {
  font-family: "gugi", Courier, monospace;
  font-size: 3rem;
  color: var(--color-secondary);
  text-shadow: 0 0 10px var(--color-secondary-transparent);
}

h2 {
  font-family: "gugi", Courier, monospace;
  font-size: 1.5rem;
  color: var(--color-secondary);
  text-shadow: 0 0 5px var(--color-secondary-transparent);
  margin: 0;
}

h1 {
  font-family: "gugi", Courier, monospace;
  font-size: 1rem;
  color: var(--color-secondary);
  text-shadow: 0 0 2px var(--color-secondary-transparent);
  margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.gap {
    gap: 20px;
}

.center {
  align-items: center;
}

.commentary {
  width: 80vw;
  border: 1px solid var(--color-primary);
  box-shadow: 0 0 10px var(--color-primary-transparent);
  border-radius: 10px;
  padding: 0 15px 0 15px;
  margin: 20px 0;
}
