@import 'button.css';
@import 'input.css';
@import 'navbar.css';
@import 'container.css';
@import 'list.css';
@import 'colors.css';
@import 'fonts.css';

html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--color-background);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.gap {
    gap: 20px;
}

.center {
  align-items: center;
}

select {
  width: 11rem;
  height: 2.5rem;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: inherit;
  background-color: var(--color-background-secondary);
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);
}

select:focus {
  outline: none;
}

select::picker-icon {
  color: var(--color-secondary);
}
