:root {
  --background-color: #EBE6E2;
  --font-color: #67778c;
  --primary-color: #CE999F;
  --secondary-color: #82AAA2;
}

body {
  color: var(--font-color);
  background: var(--background-color);
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  height: 75vh;
  width: 90vw;
  margin: auto;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column {
 display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

* {
  user-select: none; /* Verhindert das Markieren von Text */
  -webkit-tap-highlight-color: transparent; /* Entfernt die blaue Hervorhebung bei Touch */
  outline: none; /* Entfernt die Fokusumrandung */
}