:root {
  --background-color: #f3f2ee;
  --font-color: rgb(76, 88, 103);
  --primary-color: #82AAA2;
  --secondary-color: #e54a5b;
}

body {
  color: var(--font-color);
  background: var(--background-color);
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  height: 90dvh;
  margin: auto;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column {
 display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

* {
  user-select: none; /* Verhindert das Markieren von Text */
  -webkit-tap-highlight-color: transparent; /* Entfernt die blaue Hervorhebung bei Touch */
  outline: none; /* Entfernt die Fokusumrandung */
}