:root {
  --background-color: #ffffff;
  --font-color: #000000;
  --primary-color: #7E7D7E;
  --accent-color: #bd0800;
}

body {
  color: var(--font-color);
  background: var(--background-color);
  font-family: "Nanum Gothic", sans-serif;
}

a {
  color: var(--background-color);
  text-decoration: none;
}

a:visited {
  color: var(--background-color);
}