button {
    border: none;
    border-radius: 0.7vh;
    background-color: var(--secondary-color);
    color: var(--background-color);
    font-size: 2.5vh;
    font-weight: bold;
    cursor: pointer;
    padding: 0 2vh 0 2vh;
    height: 100%;
}