button {
    border: none;
    border-radius: 0.7dvh;
    background-color: var(--secondary-color);
    color: var(--background-color);
    font-size: 3dvh;
    font-weight: bold;
    font-family: "Finger Paint", sans-serif;
    cursor: pointer;
    height: 100%;
}
