.paper-frame {
    height: 7dvh;
    background-color: var(--background-color);
    padding: 0.5dvh;
    border-radius: 1dvh; /* Abgerundete Ecken */
    box-shadow:
            -3px -3px 5px white, /* Obere und linke Kante (weißer Schatten) */
            3px 3px 5px #b3b3b3; /* Untere und rechte Kante (dunkler Schatten) */
}

.paper {
    background-color: var(--background-color);
    padding: 0.5dvh;
    border-radius: 1dvh; /* Abgerundete Ecken */
}

.shadow {
    box-shadow:
            -3px -3px 5px white, /* Obere und linke Kante (weißer Schatten) */
            3px 3px 5px #b3b3b3; /* Untere und rechte Kante (dunkler Schatten) */
}