input {
  outline: none;
  padding: 0 1rem 0 1rem;
  border: none;
  border-bottom: 1px solid var(--color-primary);
  border-radius: 0;
  background-color: transparent;
  color: var(--color-secondary);
  caret-color: var(--color-secondary);
}

input::placeholder {
  color: var(--color-primary);
}

input[type="search"] {
  color: var(--color-accent);
  background-color: var(--color-secondary);
  border-radius: 0.75rem;
  text-align: center;
  margin-top: 2rem;
  caret-color: var(--color-accent);
  width: 100%;
}

input[type="search"]::placeholder {
  color: var(--color-primary);
}

input[type="search"]:focus::placeholder {
  color: var(--color-secondary);
}
