input {
  outline: none;
  height: 4rem;
  padding: 0 1rem 0 1rem;
  border: none;
  border-bottom: 1px solid var(--color-primary);
  border-radius: 0;
  background-color: transparent;
  color: var(--color-secondary);
  caret-color: var(--color-secondary);
}

input::placeholder {
  color: var(--color-primary);
}
