.login-input {
    display: flex;
    flex-direction: column;
    margin-top: 3dvh;
    margin-bottom: 5dvh;
    width: 100%;
    align-items: center;
    gap: 4dvh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 5dvh;
    border-radius: 1dvh;
}

.result {
    width: 100%;
    margin-top: 2dvh;
    overflow: scroll;
    scrollbar-width: none;
}

.select {
    font-size: 2.5dvh;
    color: var(--font-color);
    line-height: 2.5dvh;
    padding: 2dvh 2dvh 2dvh 2dvh;
    cursor: pointer;
    border-bottom: 0.5px solid rgba(76, 88, 103, 0.5);
}

.select:last-of-type {
    border-bottom: none;
}

.fwd {
    margin-bottom: 2dvh;
    height: 7dvh;
}

.forward {
    background-color: var(--font-color);
    height: 100%;
}