@import './base.css';

body {
  margin: 0;
  box-sizing: border-box;
}

.view {
  max-width: 60rem;
  margin-inline: auto;
}

h1 {
  font-size: clamp(2rem, 0.571rem + 3.81vw, 4rem);
  color: var(--font-color);
}

i {
  font-size: 4vh;
  padding: 1vh;
  color: var(--accent-color)
}

input {
  width: 70vw;
  height: 5vh;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  font-size: 1.5rem;
  background-color: var(--background-color);
  border-radius: 0;
  text-align: center;
}

input:focus {
  outline: none;
}

::placeholder {
  color: var(--primary-color);
}

button {
  background-color: var(--accent-color);
  height: 8vh;
  width: 20vh;
  margin-top: 2vh;
  align-content: center;
  text-align: center;
  font-weight: bold;
  border-radius: 4vh;
  border: none;
  font-size: 3vh;
  color: var(--background-color);
}


li {
  display: flex;
  list-style: none;
  font-size: 2.5vh;
  line-height: 6vh;
  margin-left: 0;
  padding-left: 10px;
  position: relative;
  top: 3vh;
}

ul {
  padding: 0;
}
